*.py[cod]
*$py.class
__pycache__/
.idea/
*.pkl
models/
output/
seg_output*
user/
emerald_*
example_volumes*
.coverage*
testing_data*
*.nii.gz
*.nii
*.tar.gz
*.csv
*.swp
data/brain_parcellation/OASIS
dist
build
*.egg-info
niftynet/info.py
*.zip
*.mhd
*.raw
doc/source/niftynet*
doc/source/modules.rst
.vscode/
