*.py[cod]
*$py.class
__pycache__/
.idea/
*.pkl
models/
output/
seg_output*
user/
emerald_*
example_volumes*
.coverage*
testing_data*
*.nii.gz
*.nii
*.tar.gz
*.csv
*.swp
data/brain_parcellation/OASIS
data/u-net
data/csv_data
data/._csv_data
dist
build
*.egg-info
*.zip
*.mhd
*.raw
doc/source/niftynet*
doc/source/modules.rst
.vscode/
.ipynb_checkpoints
demos/unet/run_U373.sh
demos/unet/run_hela.sh

